* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  grid-area: header;
  background-color: #66f;
  display: flex;
  justify-content: center; /* Alinea el texto horizontalmente en el centro */
  align-items: center; /* Alinea el texto verticalmente en el centro */
  font-size: 24px;
  color: #ffffff;
}
menu {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  padding: 20px; /* Añade espacio dentro del contenedor */
  background-color: #f4f4f4; /* Color de fondo del menú */
  width: 200px; /* Ancho fijo para el menú */
  height: 100vh; /* Altura de toda la ventana */
  border-right: 1px solid #ccc; /* Borde derecho */
}

/* Estilo para los enlaces */
menu p a {
  text-decoration: none; /* Quitar subrayado */
  color: #333; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 8px 0; /* Espaciado entre los enlaces */
  display: block; /* Asegura que cada enlace ocupe toda la línea */
}

/* Estilo cuando se pasa el ratón por encima de los enlaces */
menu p a:hover {
  color: #66f; /* Color del texto cuando se pasa el ratón */
}

/* Estilo para el título del menú */
menu h2 {
  font-size: 24px; /* Tamaño del texto del título */
  color: #333; /* Color del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}
main {
  grid-area: main;
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas */
  /*justify-content: center;  Centra los elementos horizontalmente */
  align-items: flex-start; /* Centra los elementos verticalmente */
  gap: 20px; /* Espacio entre los elementos dentro del main */
  height: 100vh;
}

footer {
  grid-area: footer;
  background-color: #66f;
  display: flex;
  justify-content: center; /* Alinea el texto horizontalmente en el centro */
  align-items: center; /* Alinea el texto verticalmente en el centro */
  font-size: 24px;
  color: #ffffff;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr 85%;
  min-height: 100vh;
}

.centrar-card{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.boton {
  background: #ffd600;
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: background 0.3s ease; /* Transición suave para el cambio de color */
  
}
.boton:hover {
  background: #ff9800; /* Nuevo color cuando el mouse está encima del botón */
}